<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Cod_Bar_SQL.Properties.Settings.Pesagens_LotesConnectionString"
            connectionString="Data Source=pcdptinfo1;Initial Catalog=Pesagens_Lotes;Persist Security Info=True;User ID=sa;Password=clande"
            providerName="System.Data.SqlClient" />
		<add name="Cod_Bar_SQL.Properties.Settings.Pesagens_LotesConnectionString_Local"
            connectionString="Data Source=pcdptinfo1;Initial Catalog=Pesagens_Lotes;Persist Security Info=True;User ID=sa;Password=clande" />
	</connectionStrings>
</configuration>